.red    {color: #E74C3C;}
.blue   {color: #3498DB;}
.yellow {color: #F1C40F;}
.purple {color: #9B59B6;}
.green  {color: #2ECC71;}

.job-list {
  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0 0 6px 6px;
}
.job-list li {
  background: #34495e url(../images/todo/todo.png) 92% center no-repeat;
  margin-top: 2px;
  padding: 10px 15px 10px 25px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.job-list li a {
  display: block;
  overflow: hidden;
  position: relative;
  min-height: 64px;
  clear: left;
}
.job-list li h4 {
  margin: 0;
}

.job-list li:first-child {
  margin-top: 0;
}
.job-list li:last-child {
  border-radius: 0 0 6px 6px;
  padding-bottom: 21px;
}
.job-logo {
  float: left;
  width: 64px;
  height: 64px;
  background-color: #FFF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.job-content {
  float: left;
  padding-top: 1px;
  overflow: hidden;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #FFF;
  background-color: #34495E;
}

.footer-banner {
  margin-left: 0px;
}

footer {
  margin-top: 25px;
}

.title-divider {
  background-color: #34495E;
  height: 2px;
  width: 80px;
  margin: 30px auto;
}

.title-divider-green {
  background-color: #2ECC71;
}

.navbar-static-top .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
  border-radius: 0 0;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.jumbotron {
  background-image: url('../images/books-n-shoes.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(54, 25, 25, .5);
  -ms-filter: alpha(opacity=50);
  filter: alpha(opacity=60);
}